html {
	font-size: 62.5%;
	
	height: 100%;
	
	
}

.fond {
	background-color: white;
}
#titre3 {
    float: left;
}

#image1, #image2, #image3, #image4 {
    border-width: 0.1rem;
border-style: solid;
border-color: #eee8e3;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: space-between;
margin-right: 2rem;
margin-bottom: 2rem;
height: 32rem;
width: 25rem;
}

#chaussure1, #chaussure2, #pantalon, #tee-shirt {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;
}

#prix {
    position: absolute;
    color: #558540;
    font-weight: bold;
    font-size: 1.5rem;
    top: 80%;
    left: 0%;
}

#etoiles {
    position: absolute;
    top: 80%;
    left: 35%;
}

#prix1 {
    position: absolute;
    top: 90%;
    left: 0%;
	
}

#logo1 {
text-align: center;
}

.informations {
	background-color: rgb(57, 57, 57);
	margin-top: 6rem;
}

#texticone {
	font-size: 1.5rem;
	color: white;
}
.payer {
	margin-top: 2rem;
}

#paiement1 {
text-align: center;
}
#bouton {
	text-align : center;
	margin-top: 2rem;
	overflow: hidden;
}

#text1 {
padding-top: 2.5rem;
padding-bottom: 2.5rem;
text-align: center;
}

#paypal, #cb {
padding-top: 1rem;
text-align: center;
overflow: visible;
}




#cb{
width: 61px;
height: 41px;
}
.reseausocial {
	background-color: #558540;
	padding-top: 2rem;
	margin-top: 1rem;
}

#inscrire1 {
background-color: #333231;
border-color: #333231;
color: white;	
}

#inscrire, #texte2, #texte3 {
color : white;
}

#rs {
	margin-left: 1rem;
}

#reseau2, #formulaire {
margin-top: 1rem;
}

#basdepage, #fin {
margin-top: 1rem;
text-align: center;
}
#lien{
	color: black;
}
#lien:hover{
	color: #558540;
} 



#titre {
	text-align: left;
}

#google, #telephone{
	width: 10rem;
}

 